.container{
    max-width: 1366px;
}


.body-chat{
    max-width: 250px;
    box-shadow: 2px 2px 2px #808090;
    border-radius: 4px;
    border: 2px #808070;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}
li{
    margin-top: 5px;
}

li a{
    text-decoration: none;
}
.perfil{
    display: grid;
    height: 50px;
    border-bottom:1px solid #808090;
    grid-template-columns: 1fr 4fr 1fr;

}
.foto_perfil{
    display: inline-block;
}
.foto_perfil img{
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
.caixa_infos{
    max-width: 150px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    word-break: break-word;
}
.nome_user{
    display: block;
    font-weight: bold;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mensagem_user{
    text-overflow: ellipsis;
    
}
.visualizado_user{
    font-size: 10px;
}